@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #141414;
  overflow: auto;
}

html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: "Cal Sans", sans-serif;
  color: white;
}

h2 {
  letter-spacing: 1px;
}

/* ======================= */

.lineage-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
}

picture img {
  object-fit: cover;
}

picture {
  display: flex;
}

picture::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    #141414 10%,
    #141414 5%,
    #141414 5%,
    #141414 0%,
    transparent 100%
  );
  /*   box-shadow: inset 20px 30px 20px #141414; */
}

.tutorial-lineage {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.tutorial-lineage h1 {
  text-transform: capitalize;
  letter-spacing: 2px;
}

/* ============= */

/* H1 STYLE */

.top {
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.top span {
  letter-spacing: 2px;
  opacity: 0.8;
}

/* ================= */

.thanks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social-medias {
  display: flex;
  gap: 20px;
}

#social {
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

/* ==================== */

/* tutorial */

#tutorial {
  width: 100%;
  height: auto;
}

#sections {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-bottom: 1px solid gray;
}

/* ================== */

/* code */

.code {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

ul {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

#fastboot {
  margin-top: 20px;
}

/* ==================== */

/* step-by-step */

.content-step-by-step {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-step-by-step div {
  line-height: 70px;
}

.content-step-by-step ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img {
  border-radius: 5px;
  box-shadow: 0 0 20px black;
}
